body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-show {
  width: 600px;
  overflow: hidden;
  position: relative;
}
.list-images {
  display: flex;
  transition: 0.5s;
}
.btn:hover {
  color: white;
}
.btn {
  font-size: 50px;
  color: #999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: 0.5s;
}
.btn-left {
  left: 0;
}
.btn-right {
  right: 0;
}
